<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>RFQ</title>
</head>
<body>
<hr>
<h2 th:text="'Hello, Team!'"></h2>

<p>We would like to inform you that a new Request for Quotation (RFQ) has been received and logged into the system.</p>

<p>RFQ Number: <strong th:text="${orderNumber}"></strong></p>

<p>Please review the details at your earliest convenience and proeed with the next steps as required.</p>

<p>Regards, <br/> KauferKart Team <br/> www.kauferkart.com </p>
</body>
</html>

